@import "@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.4;
  background-color: #fff;
}

html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 13px;
  }
}

.overflow-x-auto {
  overflow-x: auto;
}

.text-nowrap {
  white-space: nowrap;
}
